.grilla{
    padding: 30px;
    .section-grid-productos{
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "prod1 prod2 prod3"
        "prod4 prod5 prod6";
        grid-row-gap: 15px;
    }
    .prod1{
        grid-area: prod1;
    }
    .prod2{
        grid-area: prod2;
    }
    .prod3{
        grid-area: prod3;
    }
    .prod4{
        grid-area: prod4;
    }
    .prod5{
        grid-area: prod5;
    }
    .prod6{
        grid-area: prod6;
    }
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center; 
}